.imagem-carrossel {
  object-fit: cover; /*melhora as imagens*/
  object-position: 0 80%; /*movimenta as propriedades nos eixos x e y*/
  height: 450px;
}

.fonte-titulo {
  font-family: 'Pacifico', cursive;
}

.cor-especial {
  color: darkred;
}